.anime-detail-bottom-mobile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.75rem;
}

.anime-detail-bottom-mobile-top .rating {
  flex-direction: row;
  column-gap: 0.25rem;
  background-color: var(--container);
  color: white;
  padding: 0.5rem 0.75rem;
  border-radius: 1.5em;
  font-weight: 500;
}

.anime-detail-bottom-mobile-btn-container {
  justify-content: flex-start !important;
  column-gap: 0.75rem;
  flex-wrap: wrap;
  row-gap: 0.75rem;
}

.anime-detail-bottom-mobile-btn-container h6 {
  border: 1px solid var(--border);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.anime-detail-bottom-mobile .detail-links {
  display: none;
}

.detail-links .selected {
  border-bottom: 2px white solid;
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .anime-detail-bottom .detail-links {
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .anime-detail-bottom .detail-links {
    display: flex;
    column-gap: 1rem;
    flex-direction: row;
  }
}