.anime-detail-bottom-mobile-top .anime-detail-bottom-mobile-title{
    font-size: 1.75rem;
    font-weight: 600;
    color: white;
}

.anime-detail-bottom-mobile-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.anime-detail-bottom-mobile-top .rating{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
    background-color: #262424;
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1.5em;
    font-weight: 500;

}

.anime-detail-bottom-mobile-btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.75rem;
}

.anime-detail-bottom-mobile-btn-container span{
    border: 2px solid #636262;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;

}