
.anime-detail-bottom-mobile-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.75rem;
}

.anime-detail-bottom-mobile-top .rating{
    flex-direction: row;
    column-gap: 0.25rem;
    background-color: var(--container);
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 1.5em;
    font-weight: 500;

}

.anime-detail-bottom-mobile-btn-container{
    justify-content: flex-start!important;
    column-gap: 0.75rem;
    flex-wrap: wrap;
    row-gap: 0.75rem;
}

.anime-detail-bottom-mobile-btn-container h6{
    border: 1px solid var(--border);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
}