.term-and-condition-page,
.dmca-page,
.contact-us-page
{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.term-and-condition-page .terms,
.dmca-page .terms
{
    flex-direction: column;
    row-gap: 1.5rem;
}

.terms .term{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
    width: 100%;
}

.term-and-condition-page .route,
.dmca-page .route,
.contact-us-page .route 
{
    border-bottom: 1px solid var(--border);
    padding-bottom: 0.75rem;
}