/* Form-Page */
.form-page {
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* Form-Page --> Left-Side */
.form-page .form-page-left {
    width: 50%;
    height: 100%;
}

.form-page-left .form-top {
    justify-content: space-between;
    margin: 1rem 0 1.5rem 0;
}

.form-top{
    padding: 0 2rem;
}

.form-top img{
    height: 4rem;
}

.form-top .skip {
    color: var(--text);
}

.form-top .skip:hover,
.form-top .skip:active{
    color: var(--text-primary);
}

.form-page-left form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: var(--text);
    row-gap: 1.5rem;
}


.change-box {
    display: flex;
    color: var(--text-light);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.change-box .change-form {
    color: var(--text);
    text-decoration: none;
}

.change-box .change-form:hover,
.change-box .change-form:active
{
    color: var(--text-primary);
}


/* Form-Page --> Right Side */
.form-page .form-page-right {
    width: 50%;
    height: 100%;
    position: relative;
}

.form-page-right .slogan {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    color: var(--text);
    padding: 8rem 3rem;

}

.form-page-right .img-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    opacity: 65%;
    filter: blur(3px);
    z-index: 0;
}

.img-overlay img {
    width: 100%;
    height: 99.4%;
    object-fit: cover;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-page .form-page-left {
        width: 100%;
    }

    .form-page-left form {
        width: 80%;
        max-width: 23.25rem;
    }

    /* Right Side */
    .form-page .form-page-right {
        display: none;
    }

    .form-top{
        padding: 0 1.25rem;
    }

    .form-top img{
        height: 2.6244rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .form-page .form-page-left {
        width: 100%;
    }

    .form-page-left form {
        width: 80%;
        max-width: 23.25rem;
    }

    /* Right Side */
    .form-page .form-page-right {
        display: none;
    }

    .form-top img{
        height: 2.916rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .form-page .form-page-left {
        width: 100%;
    }

    .form-page-left form {
        width: 80%;
        max-width: 23.25rem;
    }

    /* Right Side */
    .form-page .form-page-right {
        display: none;
    }

    .form-top img{
        height: 3.25rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .form-page-left form {
        width: 80%;
        max-width: 23.25rem;
    }

    .form-top img{
        height: 3.6rem;
    }
}
