/* Form-Page */
.form-page {
    height: inherit;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

/* Form-Page --> Left-Side */
.form-page .form-page-left {
    width: 50%;
    height: 100%;
}

.form-page-left .form-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0 1.5rem 0;
}

.form-top{
    padding: 0 2rem;
}

.form-top img{
    height: 5rem;
}

.form-top .skip {
    font-size: 1.3rem;
    color: var(--text);
    font-weight: 700;
}

.form-top .skip:hover,
.form-top .skip:active{
    color: var(--text-primary);
}

.form-page-left form {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    color: var(--text);
    row-gap: 1.5rem;
}

form .heading {
    font-size: 2.5rem;
    font-weight: 700;
}

form label {
    font-size: 1.1rem;
    font-weight: 500;
}


span .input-box {
    margin-top: 0.15rem;
    border: 0.095rem solid var(--border);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 0.7rem;
    border-radius: 0.5rem;
}

form input:focus,
form input:hover {
    border-width: 0;
    color: var(--text);
}

.change-box {
    display: flex;
    font-size: 1.1rem;
    color: var(--text-light);
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.change-box p {
    margin: 0;
}

.change-box .change-form {
    color: var(--text);
    font-weight: 500;
    text-decoration: none;
}

.change-box .change-form:hover,
.change-box .change-form:active
{
    color: var(--text-primary);
}


/* Form-Page --> Right Side */
.form-page .form-page-right {
    width: 50%;
    height: 100%;
    position: relative;
}

.form-page-right .slogan {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    z-index: 1;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
}

.slogan p {
    width: 80%;
}

.slogan span {
    font-weight: 500;
    font-size: 1.5rem;
}

.form-page-right .img-overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-color: black;*/
    opacity: 65%;
    filter: blur(3px);
    z-index: 0;
}

.img-overlay img {
    width: 100%;
    height: 99.4%;
    object-fit: cover;
}

.input-box svg{
    color: var(--text);
    font-size: 1.75rem;
}

.input-box input{
    color: var(--text-light);
    border-color: var(--border);
}


form .form-btn-container {
    width: 50%;
    align-self: center;
    font-size: 1.25rem;
}

/* Mobile Size */

@media screen and (max-width: 500px) {
    .form-page-left .form-top {
        margin: 1rem 0 1.5rem 0;
    }


}

@media screen and (max-width: 800px) {

    /* Left Side*/
    .form-page .form-page-left {
        width: 100%;
    }

    .form-page-left form {
        width: 80%;
    }

    form .heading {
        font-size: 2rem;
        font-weight: 700;
    }

    form label {
        font-size: 1rem;
        font-weight: 500;
    }

    form input {
        font-size: 1rem;
        font-weight: 400;
    }

    .slogan span {
        font-weight: 500;
        font-size: 3rem;
    }

    /* Right Side */
    .form-page .form-page-right {
        display: none;
    }

    .form-top{
        padding: 0 1.25rem;
    }

    .form-top img{
        height: 3.75rem;
    }

    form .form-btn-container {
        width: 80%;
        align-self: center;
        font-size: 1.1rem;
        font-weight: 800;

    }
}