.term-and-condition-page {
    color: var(--text-extra-light);
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.term-and-condition-page .heading{
    color: var(--text);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 0.5rem
}


