.anime-detail-page .anime-detail-bottom {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 8.5rem;
    row-gap: 3rem;
    padding: 0 3.5rem;
}

.anime-detail-bottom .anime-detail-bottom-web{
    width: 100%;
    display: flex;
    column-gap: 1.5rem;
}

.anime-detail-bottom .anime-detail-bottom-left {
    border-right: 1px solid var(--border);
    padding-right: 0.25rem;
    width: 30%;
}

.information{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.anime-detail-bottom .anime-detail-bottom-right{
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 2rem;
    width: 70%;
}

.detail-links .selected{
    border-bottom: 2px white solid;
    color: white
}

.related-anime .related-anime-link {
    color: #1877F2;
}

.related-anime .related-anime-link:hover {
    color: #7bb5fd;
}

.related-container, .overview, 
.anime-detail-bottom-left, 
.recommendation {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.anime-detail-bottom .anime-detail-bottom-mobile{
    display: none;
}

.anime-detail-bottom-right .related-container-scroll{
    width: 100%;
    overflow: auto;
    max-height: 18rem;
    height: fit-content;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.5rem 0.75rem;
}

.related-container-scroll .related-anime{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.75rem;
}

.related-anime .related-anime-link {
    color: #1877F2;
}

.related-anime .related-anime-link:hover {
    color: #7bb5fd;
}

.recommendation {
    width: 100%;
}

.recommendation-container .card-container{
    max-width: 10rem;
    width: 45%;
    height: 15rem;
}

.recommendation-container {
    justify-content: flex-start!important;
    flex-wrap: wrap;
    row-gap: 1.25rem;
    column-gap: 1rem;
}


@media screen and (max-width: 800px) {
    .anime-detail-page .anime-detail-bottom {
        margin-top: 0;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .anime-detail-bottom .anime-detail-bottom-left {
        width: 100%;
        border: none;
    }

    .anime-detail-bottom .anime-detail-bottom-right{
        width: 100%;
    }

    .recommendation .recommendation-container {
        column-gap: 0.75rem;
        row-gap: 1rem;
        justify-content: center;
    }

    .anime-detail-bottom .anime-detail-bottom-web{
        display: none;
    }

    .anime-detail-bottom .anime-detail-bottom-mobile{
        display: flex;
        flex-direction: column;
        row-gap: 1.25rem;
        width: 100%;
        column-gap: 0.5rem;
    }
}