[submodule "animesuper-frontend"]
	path = animesuper-frontend
	url = https://github.com/prince2520/animesuper-frontend.git
[submodule "animesuper-backend"]
	path = animesuper-backend
	url = https://github.com/prince2520/animesuper-backend.git
