
.swiper-pagination .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    background-color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: white;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.16);
}
