.search-bar {
    max-width: 50rem;
    width: 70%;
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.05rem 0.5rem;
    position: relative;

    justify-content: space-between!important;
    column-gap: 0.75rem;
}

.search-bar:hover{
    border-color: var(--text);
}

.search-bar svg{
    font-size: 1.5rem;
    color: var(--text-light);
}


@media screen and (max-width: 800px) {
    .search-bar {
        padding: 0.05rem;
        width: 100%;
    }
};