.completed .circle {
    background-color: var(--completed);
}

.dropped .circle {
    background-color: var(--dropped);
}

.on-hold .circle {
    background-color: var(--on-hold);
}

.currently-watching .circle {
    background-color: var(--currently-watching);
}

.plan-watch .circle {
    background-color: var(--plan-to-watch);
}