.sidebar {
    width: 100%;
    height: 100%;
    background-color: var(--background);
    border-right: 1px solid var(--border);
    min-width: 10rem;
    padding: 1rem 4rem 0.75rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.sidebar-top img{
    width: 100%;
    max-width: 8rem;
}

.options {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;

}

.option {
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}


.option .option-link {
    display: grid;
    grid-template-columns: 20% auto;
    grid-column-gap: 0.5rem;

    justify-content: flex-start;
    align-items: center;
}


.option-link:hover h5,
.option-link:hover svg, 
.option-link:active h5,
.option-link:active svg
{
    color: var(--text);

}