.anime-page {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.content .detail {
    width: 30%;
}

.card-container {
    height: 16rem;
    width: 11rem;
    flex-shrink: 0;
}

@media screen and (max-width: 800px) {
    .anime-page .navbar-container {
        display: block;
    }

    .search-container .search {
        width: 100%;
    }

    .anime-carousel {
        width: 100%;
        height: 22rem;
    }

    .img-overlay .content {
        row-gap: 0.5rem;
        width: 85%;
    }

    .content .synopsis {
        color: #ABA5A5;
    }

    .card-container {
        height: 16rem;
        width: 10rem;
        flex-shrink: 0;
    }

    .content .more-info {
        display: flex;
        column-gap: 0.5rem;
    }


    .content .detail {
        width: 60%;
    }
}



