.more-info .type,
.more-info .release-date,
.more-info .duration{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 0.5rem;
}