.profile-card-container {
  width: 90%;
  max-width: 22.5rem;

  position: absolute;
  backdrop-filter: blur(6px);
  background: rgba(49, 49, 49, 0.1);

  border-radius: 1rem;
  border: 0.05rem var(--border) solid;

  display: grid;
  overflow: hidden;
  padding: 1.25rem 1rem;
  grid-template-rows: 5% auto;
}

.profile-card-container-top .edit-button {
  padding: 0.25rem 0.5rem;
}

.profile-card-container-top .edit-button:hover {
  color: var(--text);
}

.profile-card-container-top .edit-button-selected {
  font-weight: 500;
  color: var(--text);
  background-color: var(--background-primary);
  padding: 0.25rem 0.5rem;
  border-radius: 0.75rem;
}

.profile-photo-container .edit-icon {
  position: absolute;
  bottom: 0.5rem;
  right: 0.25rem;

  background-color: var(--background-primary);
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 50%;

  color: var(--text);
  font-size: 1.5rem;

  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.profile-card-container .profile-card-container-top {
  justify-content: space-between;
}

.profile-card-container .profile-card-container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  row-gap: 0.5rem;
}

.profile-card-container-bottom .profile-photo {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background-color: var(--background-secondary);
  overflow: hidden;

  position: relative;

  border: 2px var(--text) solid;
  box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.25);
}

.profile-card-container-bottom .profile-photo-container {
  position: relative;
}

.profile-photo img {
  object-fit: contain;
  height: 100%;
}

.profile-card-container-bottom .profile-personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-container-bottom .profile-anime-manga-details {
  width: 100%;
}

.favorite-genre .favorite-genre-title,
.statistics .statistics-bar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px var(--border) solid;
  width: 100%;
}
