.navbar {
    height: 100%;
    width: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 20% auto 20%;

    padding: 0 0.5rem 0.5rem 0.5rem
}

.nav-logo img {
    height: 3.5rem;
}

.profile {
    height: 3.5rem;
    width: 3.5rem;

    border-radius: 50%;
    border: 1px solid var(--background-secondary);
    overflow: hidden;
}

.profile img {
    height: 100%;
}

.navbar .login-btn {
    border: 1px solid var(--text);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

