.navbar {
    padding: 0 0.5rem 0.5rem 0.5rem;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% auto 20%;
    column-gap: 1rem;
    justify-items: center;
    align-items: center;
}

.nav-logo img {
    height: 3.5rem;
}

.profile {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid var(--background-secondary);
    overflow: hidden;
}

.profile img {
    height: 100%;
}


.navbar .login-btn {
    color: var(--text);
    border: 1px solid var(--text);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
}



