
.App {
    height: 100vh;
    background-color: var(--background);
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


input {
    border-style: solid;
    border-color: var(--text-light);
    background-color: transparent;
    color: white;
    border-width: 0;
    width: 90%;
    height: 100%;
    outline: none;
    font-size: 1.1rem;
    font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--background)  inset !important;
    -webkit-text-fill-color: var(--text) !important;
}


.cursor-btn {
    cursor: pointer;
}