.anime-detail-page {
    position: relative;
    top: -6rem;
    width: 100%;
    font-size: 1.15rem;
}

.anime-detail-page .anime-detail-img {
    width: 100%;
    height: 25rem;
    overflow: hidden;

    position: absolute;
    opacity: 65%;
    filter: blur(10px);
}

.anime-detail-img img {
    width: 100%;
    position: relative;
    filter: blur(3px);
}

.anime-detail-img .anime-detail-watchlist-like{
    display: none;
}

@media screen and (max-width: 800px) {
    .anime-detail-page {
        position: static;
    }

    .anime-detail-page .anime-detail-img {
        position: relative;
        height: 12.5rem;
        filter: blur(0px);
        opacity: 100%;
    }

    .anime-detail-img .anime-detail-watchlist-like{
        width: 100%;
        padding: 0.5rem 0.75rem;
        position: absolute;
        bottom: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .anime-detail-watchlist-like .anime-detail-watchlist-btn{
        width: 55%;
        max-width: 10rem;
    }

    .anime-detail-watchlist-like .anime-detail-like-btn{
        background-color:white ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

    }
    .anime-detail-img img {
        filter: blur(1px);
        opacity: 65%;
        object-fit: contain;
    }    
}