.anime-detail-page {
    position: relative;
    top: -8rem;
    width: 100%;
    font-size: 1.15rem;
}

.anime-detail-page .anime-detail-img {
    width: 100%;
    height: 25rem;
    overflow: hidden;

    position: absolute;
    background-color: black;
    opacity: 65%;
    filter: blur(3px);
}

.anime-detail-page .anime-detail-top {
    position: relative;
    margin-top: 2.5rem;
    margin-left: 3.5rem;
    margin-right: 4rem;
    color: #FFFFFF;
}

.anime-detail-img img {
    width: 100%;
    position: relative;
    filter: blur(3px);
}

.anime-detail-top-content .anime-detail-top-left {
    position: relative;
    height: 22rem;
    width: 16rem;
    top: 3rem;
    border: 0.35rem white solid;
    flex-shrink: 0;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.anime-detail-top-left img {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
}

.anime-detail-page .anime-detail-bottom {
    color: #636262;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5.5rem;
    padding: 0 3.5rem;
}

.overview .heading,
.related-anime .heading,
.anime-detail-bottom-left .heading,
.recommendation .heading ,
.related-container .heading {
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
}


.related-anime .related-anime-link {
    color: #1877F2;
}

.related-anime .related-anime-link:hover {
    color: #7bb5fd;
}

.anime-detail-bottom .anime-detail-bottom-left {
    border-right: 0.05rem solid #636262;
    padding-right: 0.25rem;
    width: 30%;
}

.anime-detail-bottom .anime-detail-bottom-right{
    width: 70%;
}

.information .value {
    color: white;
}

.anime-detail-top .anime-detail-top-content {
    display: flex;
    column-gap: 3rem;
}

.anime-detail-top-content .anime-detail-top-right {
    position: relative;
    top: 5.5rem;
}

.anime-detail-top-right .title {
    font-size: 2.5rem;
    font-weight: 600;
}

.rating-popularity-container {
    display: flex;
    column-gap: 1rem;
}

.rating-popularity-container .rating,
.rating-popularity-container .popularity,
.rating-favorite-container .rating {
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
}

.rating-favorite-container .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    border-radius: 3rem;

}

.rating-favorite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.anime-detail-top-left .anime-detail-top-left-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;

}

.anime-detail-top-left-content .login-button {
    margin: 0;
}

.recommendation-container .recommendation-card {
    max-width: 10rem;
    width: 45%;
    height: 15rem;
    overflow: hidden;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;

    position: relative;
}

.recommendation {
    margin-top: 4rem;
}

.recommendation .recommendation-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1rem;
    margin-top: 1rem;
}

.recommendation-card img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}


.overlay .overlay-bottom {
    padding: 0.35rem;
    width: 100%;
    height: 40%;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    color: white;
}

.overlay .overlay-top {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.anime-detail-img .anime-detail-watchlist-like{
    display: none;
}

@media screen and (max-width: 800px) {
    .anime-detail-page {
        position: static;
    }

    .anime-detail-top .anime-detail-top-content{
        display: none;
    }

    .anime-detail-page .anime-detail-img {
        position: relative;
        height: 12.5rem;
        filter: blur(0px);
        opacity: 100%;

    }


    .anime-detail-img .anime-detail-watchlist-like{
        width: 100%;
        padding: 0.5rem 0.75rem;
        position: absolute;
        bottom: 0;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .anime-detail-watchlist-like .anime-detail-watchlist-btn{
        width: 55%;
        max-width: 10rem;
        font-size: 1.1rem;

    }

    .anime-detail-watchlist-like .anime-detail-like-btn{
        background-color:white ;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        font-size: 2rem;

        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);

    }
    .anime-detail-img img {
        filter: blur(1px);
        opacity: 65%;
        object-fit: contain;
    }

    .anime-detail-page .anime-detail-bottom {
        margin-top: 0;
        padding: 0 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }

    .anime-detail-bottom .anime-detail-bottom-left {
        width: 100%;
        border: none;
    }

    .anime-detail-bottom .anime-detail-bottom-right{
        width: 100%;
    }

    .recommendation-container .recommendation-card {
        font-size: 0.85rem;
    }

    .recommendation .recommendation-container {
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
    }

    .overview .heading,
    .related-anime .heading,
    .anime-detail-bottom-left .heading,
    .recommendation .heading,
    .related-container. .heading
    {
        font-size: 1.5rem;
    }

    .information p,
    .overview p,
    .related-anime p{
        font-size: 1rem;
    }

}