.card {
    height: 100%;
    width: 100%;
    position: relative;
    color: white;

    border-radius: 0.75rem;
    overflow: hidden;
}


.card .rate {
    display: none;
    position: absolute;
    left: 0.5rem;
    top: 1rem;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    column-gap: 0.25rem;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    z-index: 5;
}

.card .watchlist {
    display: none;
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 50% 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    z-index: 5;
}


.card .card-bottom {
    display: none;
    position: absolute;
    bottom: 0;
    padding: 0.35rem;
    width: 100%;
    height: 40%;
    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    flex-direction: column;
    row-gap: 0.5rem;
    z-index: 5;
}

.show-card-detail .card-bottom,
.show-card-detail .watchlist,
.show-card-detail .rate{
    display: flex;
}

.show-card-detail .watchlist{
    display: flex;
}

.card img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    object-fit: cover;
    z-index: 4;
}

.card-bottom .genres {
    flex-wrap: wrap;    
    justify-content: start;
    column-gap: 0.5rem;
}