.card {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 0.75rem;
    overflow: hidden;
}


.card .rate {
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0.5rem;
    top: 1rem;

    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    column-gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    z-index: 5;
}

.card .watchlist {
    width: 2rem;
    height: 2rem;

    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 1rem;
    right: 0.5rem;

    background: rgba(19, 19, 19, 0.5);
    
    backdrop-filter: blur(2px);
    border-radius: 50% 50%;
    color: var(--text);
    z-index: 5;
}


.card .card-bottom {
    width: 100%;
    height: 40%;

    display: none;
    position: absolute;
    bottom: 0;
    padding: 0.35rem;

    background: rgba(19, 19, 19, 0.5);
    backdrop-filter: blur(2px);
    border-radius: 0.5rem;
    flex-direction: column;
    row-gap: 0.5rem;
    z-index: 5;
}


.card-bottom .genres {
    flex-wrap: wrap;    
    justify-content: start;
    column-gap: 0.5rem;
}

.card img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    object-fit: cover;
    z-index: 4;
}


.card:hover .card-bottom,
.card:active .card-bottom,
.card:hover .watchlist,
.card:active .watchlist,
.card:hover .rate,
.card:active .rate,
.card:hover .watchlist,
.card:active .watchlist
{
    display: flex;
}



