.anime-manga-category-page {
    width: 95%;
}

.anime-manga-category-page .anime-manga-filter {
    justify-content: flex-start;
    column-gap: 1rem;

    margin-top: 1rem;
}

.anime-manga-filter-container {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    column-gap: 0.75rem;
    row-gap: 0.75rem;
    margin-top: 1rem;
}

.anime-manga-filter-container .anime-manga-filter-button {
    border: 1px solid var(--border);
    border-radius: 0.25rem;
    padding: 0.25rem 1.5rem;
}

.anime-manga-filter-container .anime-manga-filter-button:hover{
    color: var(--text);
    border: 1px solid var(--text);
}

.anime-manga-filter-container .anime-manga-filter-button.selected {
    background-color: var(--primary);
    color: var(--text);
    border: none;
}

.anime-manga-category-page .anime-manga-category-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 1.5rem;
}

@media screen and (max-width: 800px) {
    .anime-manga-filter-container .anime-manga-filter-button {
        padding: 0.25rem 1rem;
    }

    .anime-manga-category-page .anime-manga-category-cards {
        column-gap: 1.1rem;
    }
}