.username-container,
.gender-container,
.location-container,
.favorite-genre-container {
    width: 100%;
    color: var(--text-secondary);

    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
}

.username-container label,
.gender-container label,
.location-container label,
.favorite-genre-container label {
    font-size: 1.1rem;
    font-weight: 400;
}

.username-container .input-box,
.gender-container .input-box,
.location-container .input-box,
.favorite-genre-container .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    border: 1px var(--border) solid;
    padding: 0.25rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;

    color: var(--text);
}

.input-box input {
    background-color: transparent;
}

.gender-location-container {
    width: 100%;
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 1rem;
}

.save-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.save-button button {
    border: none;
    background-color: var(--primary);
    width: 50%;
    font-size: 1.25rem;
    color: var(--text);
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;

    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}


.favorite-genre-container input {
    padding-left: 0.5rem;: border-right: 0.095 rem solid rgb(99, 98, 98);
}